doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Gregor Ehrensperger

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') SCROLL TO TOP
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h2.text-white-80.mx-auto.mb-5.mt-5.text-uppercase &nbsp; &nbsp; Gregor Ehrensperger
                        h1.mx-auto.my-0.mt-5.text-uppercase AI &middot; DEV &middot; MATH
                        h4.text-white-50.mx-auto.mt-2.mb-5 Navigating the realms where algorithms blaze, seeking knowledge in a data-driven maze
                        a.btn.btn-primary(href='#about') About Me
        // Projects
        section#about.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/greh3.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 About me
                            p.text-black-50.mb-0
                                | Hej there! My name is Gregor, I was born in the beautiful Tyrolian Alps in 1986 and I reside near Innsbruck, Austria.
                                | I am a 
                                u
                                    span.has-footnote(title="Roughly two decades experience in various industry sectors and programming languages such as C++, Julia, Python, R.") software engineer
                                | with a strong 
                                u
                                    span.has-footnote(title="Embracing clean code, best-practices in usage of control versioning systems, conventional commit messages, semantical version numbering to ensure faster delivery, higher quality, and more reliable software systems.") DevOps
                                | mindset,
                                u
                                    span.has-footnote(title="Started in 2011 with AI and ML. Expertise in a wide array of techniques from traditional models such as k-means, SVM, random forest to advanced methods including XGBoost and various neural network variants.") data scientist,
                                u
                                    span.has-footnote(title="Publications in the fields of computer vision, explainable AI, machine learning, and extreme value statistics.") researcher,
                                | and
                                u
                                    span.has-footnote(title="Lectures on Software, Programming, Mathematics and Data Science at the University of Innsbruck") lecturer
                                |   with an academic background in mathematics and computer science.
                                br
                                br
                                | I am passionate about sharing knowledge and love to jointly work on challenging problems.
                                br
                                br
                                | Whether you are looking for assistance with a 
                                u
                                    span.has-footnote(title="Software Engineering, Optimization, Modelling") complex technical challenge
                                | aiming to 
                                u
                                    span.has-footnote(title="Artificial Intelligence, Data Engineering and Science, Machine Learning, DevOps") enhance your skills 
                                | guided by external expertise in a mentoring or workshop setting, or looking for a helping hand with a
                                u
                                    span.has-footnote(title="Applied Data Science and Machine Learning, Software Engineering, Writing") research topic,
                                | I would be thrilled to
                                b
                                    a(href='#contact') connect
                                |  and explore potential collaborations.
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/ai.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white AI
                                    p.mb-0.text-white-50
                                        | In 2011 I attended the very first edition of the famous MOOC Artificial Intelligence by Sebastian Thrun and Peter Norvig and was proud to rank among the top 1000 students (160.000 signed up for the course).
                                        | I was immediately captivated by AI related topics and in the following years I took every opportunity to upskill in this field.
                                        | I attended related conferences, took more university and online courses and worked on many Data Science / AI projects professionally.
                                        | Since 2019, I have been teaching in the Master's programme Data Science at the University of Innsbruck.
                                        | Starting in 2021, I began pursuing a PhD in Mathematics at the same university, focusing on explainable artificial intelligence and extreme value statistics.
                                    hr.d-none.d-lg-block.mb-0.ms-0
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/dev.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white DEV
                                    p.mb-0.text-white-50
                                        | The development of stable software packages is quite an art. I love to craft software, tweak algorithms, improve performance and stability. I am a DevOps evangelist and very keen about enabling developers to unlock their full potential. I hold a Bachelor degree in Computer Science and worked as a Senior Software Engineer for several years.
                                    hr.d-none.d-lg-block.mb-0.me-0
                // Project Three Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/math.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white MATH
                                    p.mb-0.text-white-50
                                        | "Mathematics is the language in which God has written the universe" (Galileo Galilei).
                                        | This might be exaggerated but having a profound understanding of mathematics is incredibly valuable, particularly in fields like AI and Data Science.
                                        | As a graduate in Technical Mathematics I always strive to understand the theory and limits of the utilized methods.
                                        | With a solid theoretical background and h ands-on experience in real-world settings, my toolbox is not limited to the blind application of modern AI tools.
                                    hr.d-none.d-lg-block.mb-0.ms-0

        // Contact
        section#contact.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-6.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4.mx-auto
                                .small.text-black-50 6094 Axams, Austria
                    .col-md-6.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:g@ehrensperger.dev?subject=Hej you!&body=Reaching out via ehrensperger.dev') g@ehrensperger.dev
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://www.linkedin.com/in/gregor-ehrensperger/')
                        i.fab.fa-linkedin
                    a.mx-2(href='https://github.com/noxthot')
                        i.fab.fa-github
                    a.mx-2(href='https://www.facebook.com/gregor.ehrensperger/')
                        i.fab.fa-facebook

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Gregor Ehrensperger &middot; 2025

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
